@import './reset';
@import './variables';

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav { 
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: $navBackground;
  padding: 1rem $sideSpacing;

  .logo {
    margin-right: auto;

    a {
      color: white;
      font-size: 3rem;
      text-decoration: none;
    }
  }

  .cart {
    a {
      background: white;
      border-radius: 50%;
      padding: .5rem;
      display: block;
      position: relative;
      img {
        height: 3rem;
      }
      #total-quantity {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%);
        font-size: 1.3rem;
        padding: .2rem;
        min-width: 2rem;
        border-radius: 1rem;
        text-align: center;
        background: red;
        color: white;
      }
    }
  }
}

.header {
  text-align: center;
  padding: 3rem 0;
  font-size: 2rem;
}

.footer {
	margin-top: $sideSpacing;
	height: 4rem;
	@include flexCenter();
	font-size: 1.3rem;
	color: #eee;
	background: $navBackground;
}