$sideSpacing: 3rem;
$navBackground: #333;
$shadowColor: #888;
$btnPrimary: #666;
$btnPrimaryHover: #444;
$btnPrimaryClick: #222;
$btnDanger: #dc3545; 
$btnDangerHover: #bd2c3a; 
$btnDangerClick: #a72633; 
