@import './default';

.products {
  padding: 0 $sideSpacing;
  ul {
    list-style: none;
    li {
      padding: $sideSpacing/2;
      border: 1px solid $shadowColor;
      box-shadow: 0 0 1rem 0.1rem $shadowColor;
      margin-bottom: $sideSpacing;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      figure {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .info {
        padding: 2rem 0;
        .product-name {
          font-size: 1.5rem;
          justify-content: flex-start;
        }
        .price {
          font-size: 1.4rem;
          &::before {
            content: '$';
          }
        }
      }
      .edit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .quantity {
          font-size: 1.5rem;
          min-width: 12rem;
          text-align: center;
          &::before {
            content: 'Quantity : ';
          }
        }
        button {
          color: white;
          background: $btnPrimary;
          border: none;
          font-size: 2rem;
          width: 3rem;
          height: 3rem;
          &:hover {
            background: $btnPrimaryHover;
          }
          &:active {
            background: $btnPrimaryClick;
          }
        }
      }
      .total {
        margin-top: 2rem;
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
        font-weight: bold;
        &::before {
          content: '$';
        }
      }
    }
  }
}

.result {
  padding: 0 $sideSpacing;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  button {
    margin-right: $sideSpacing/2;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    background: $btnPrimary;
    border: none;
    &:focus {
      background: $btnPrimary;
    }
    &:hover {
      background: $btnPrimaryHover;
      cursor: pointer;
    }
    &:active {
      background: $btnPrimaryClick;
    }
    &#clear {
      background: $btnDanger;
      &:hover {
        background: $btnDangerHover;
      }
      &:active {
        background: $btnDangerClick;
      }
    }
  }

  #total-price {
    margin-left: auto;
    text-align: right;
    font-size: 1.5rem;
    &::before {
      content: 'Total Price : $';
    }
  }
}

.popup-background {
  @include flexCenter();
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: black;
  background: rgba(0, 0, 0, 0.4);

  .popup {
    background: white;
    width: 100%;
    margin: $sideSpacing/2;
    padding: $sideSpacing;
    position: relative;
    box-shadow: 0 0 0.5rem 0.2rem black;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.4);
    @keyframes animatetop {
      from {
        top: -20rem;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .finish {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    .check {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }

  form {
    font-size: 1.6rem;
    input,
    select {
      font-size: 1.6rem;
      width: 100%;
      padding: 1.2rem;
      margin: 0.8rem 0;
      display: inline-block;
      border: 0.1rem solid #ccc;
      border-radius: 0.4rem;
      box-sizing: border-box;
    }

    input[type='submit'] {
      width: 100%;
      background-color: $btnPrimary;
      color: white;
      padding: 1.4rem 2rem;
      margin: 0.8rem 0;
      border: none;
      border-radius: 0.4rem;
      cursor: pointer;
      &:hover {
        background: $btnPrimaryHover;
      }
      &:active {
        background: $btnPrimaryClick;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .products {
    padding: 0 $sideSpacing;
    ul {
      list-style: none;
      li {
        padding: $sideSpacing/2;
        border: 1px solid $shadowColor;
        box-shadow: 0 0 1rem 0.1rem $shadowColor;
        margin-bottom: $sideSpacing;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        figure {
          width: 15rem;
          img {
            width: 100%;
          }
        }
        .info {
          margin-right: auto;
          margin-left: $sideSpacing / 2;
          .product-name {
            font-size: 1.3rem;
            justify-content: flex-start;
          }
          .price {
            font-size: 1.3rem;
            line-height: 2;
            &::before {
              content: '$';
            }
          }
        }
        .edit {
          margin-left: auto;
          width: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .quantity {
            font-size: 1.5rem;
            min-width: 12rem;
            text-align: center;
            &::before {
              content: 'Quantity : ';
            }
          }
          button {
            color: white;
            background: $btnPrimary;
            border: none;
            font-size: 2rem;
            width: 3rem;
            height: 3rem;
            &:hover {
              background: $btnPrimaryHover;
            }
            &:active {
              background: $btnPrimaryClick;
            }
          }
        }
        .total {
          font-size: 1.5rem;
          min-width: 10rem;
          width: auto;
          text-align: right;
          margin: 0;
          &::before {
            content: '$';
          }
        }
      }
    }
  }

  .result {
    button {
      margin-right: $sideSpacing;
    }
  }

  .popup-background {
    .popup {
      width: 50%;
      margin: 0;
    }
  }
}
