@import './default';

.products {
  padding: 0 $sideSpacing;
  ul {
    @media only screen and (min-width: 600px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    grid-gap: $sideSpacing;
    list-style: none;

    li {
      justify-self: center;
      margin-bottom: $sideSpacing;

      figure {
        width: 100%;
        height: 70%;
        overflow: hidden;
        @include flexCenter();
        img {
          width: 100%;
          height: 100%;
        }
      }

      .info {
        margin: 1rem 0;
        .product-name h1 {
          font-size: 1.8rem;
        }
        .price {
          font-size: 1.5rem;
          &::before {
            content: '$';
          }
        }
      }

      .edit {
        margin-left: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          width: 100%;
          height: 3rem;
          color: white;
          background: $btnPrimary;
          border: none;
          transition-duration: 0.3s;

          &:hover {
            background: $btnPrimaryHover;
            cursor: pointer;
          }

          &:active {
            background: $btnPrimaryClick;
          }
        }
      }
      .edit-hidden {
        margin-left: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .quantity {
          font-size: 1.5rem;
          min-width: 12rem;
          text-align: center;
          &::before {
            content: "Quantity : ";
          }
        }
        button {
          color: white;
          background: $btnPrimary;
          border: none;
          font-size: 2rem;
          width: 3rem;
          height: 3rem;
          &:hover {
            background: $btnPrimaryHover;
          }
          &:active {
            background: $btnPrimaryClick;
          }
        }
      }
    }
  }
}
